{% extends 'base.html.twig' %}

{% block title %}Редактировать товар {% endblock %}

{% block body %}
    <h1>Редактирование товары</h1>
    {{ include('product/_form.html.twig', {'button_label': 'Обновить'}) }}
    <div style="display: grid; grid-template-columns: 250px 1fr; grid-column-gap: 5px; margin-top: 5px">
        <a href="{{ path('product_index') }}" class="btn btn-outline-secondary">Вернуться к списку товаров</a>
        {{ include('product/_delete_form.html.twig') }}
    </div>
{% endblock %}
